@{
}

<h2 class="text-center mb-5">Types of Events We Cover</h2>


<div class="container">
    <div class="row">
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://ehire.co.za/wp-content/uploads/2020/01/birthday-party-ideas-portrait-of-happy-birthday-boy.jpg" 
                alt="Birthday Parties" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Birthday Parties</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://bunniesbythebay.com/cdn/shop/articles/Baby_Shower_lifestyle-websize.jpg?v=1620627090"
                     alt="Baby Showers" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Baby Showers</h5>
                </div>
            </div>
        </div>

       
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1190043570-1-672cee697e7c8.jpg"
                     alt="Weddings" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Weddings</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://www.onstage.com.au/wp-content/uploads/2023/10/office-party-ideas-5.jpg"
                     alt="Work Functions" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Work Functions</h5>
                </div>
            </div>
        </div>

       
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://ragefestival.co.za/wp-content/uploads/2025/02/4.png"
                     alt="Matric Farewell Parties" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Matric Farewell Parties</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://karinapiresphotography.com/wp-content/uploads/2020/01/karina-pires-photography-los-angeles-engagement-wedding-lifestyle-photographer-17.jpg"
                     alt="Engagement Parties" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Engagement Parties</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://www.moneyspeech.com/wp-content/uploads/2024/11/Anniversary-Celebration-Ideas.png"
                     alt="Anniversary Celebrations" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Anniversary Celebrations</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.squarespace-cdn.com/content/v1/640b3526fb9a7e4b566fffca/be07bfe6-bd95-434f-8d99-d22cde7dd0af/Corporate+yoga+wellbeing+retreat.jpeg"
                     alt="Corporate Retreats" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Corporate Retreats</h5>
                </div>
            </div>
        </div>

      
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Graduation_ceremony_with_Azim_Premji.JPG/1200px-Graduation_ceremony_with_Azim_Premji.JPG"
                     alt="Graduation Ceremonies" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Graduation Ceremonies</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://www.mrsfields.com/cdn/shop/articles/shutterstock_2334107349_1.jpg?v=1731100825"
                     alt="Family Reunions" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Family Reunions</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    .event-image {
        object-fit: cover;
        height: 200px; 
        width: 100%; 
    }
</style>
